# This workflow will install Python dependencies, run tests with code coverage and upload the results to Codecov

name: Code Coverage

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - README.md
      - 'benchmark/**'
      - 'docs/**'
      - 'examples/**'
      - 'libs_wheels/**'
      - 'readme/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - README.md
      - 'benchmark/**'
      - 'docs/**'
      - 'examples/**'
      - 'libs_wheels/**'
      - 'readme/**'

jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v4
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Run tests and collect coverage
      run: |
        coverage run -m unittest discover
        coverage xml -o coverage.xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
